@import 'https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap';

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Bebas Neue, sans-serif;
	background: whitesmoke;
}

h1,
h2 {
	text-align: center;
	margin-top: 25px;
	font-size: 40px;
	margin-bottom: 15px;
	letter-spacing: 5px;
}

#subtitle {
	font-size: 25px;
}

/* Loader */
.loader {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255, 255, 255, 0.8);
}

.loader img {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Image container */
.image-container {
	margin: 10px 30%;
}

.image-container img {
	width: 100%;
	margin-top: 5px;
}

/* Footer */
.footer {
	width: 100vw;
	display: block;
	overflow: hidden;
	padding: 70px 0;
	box-sizing: border-box;
	background-color: #18181a;
}

.inner-footer {
	display: block;
	margin: 0 auto;
	width: 1110px;
	height: 100%;
}

.inner-footer .logo-container {
	width: 35%;
	float: left;
	height: 100%;
	display: block;
}

.inner-footer .logo-container img {
	width: 65%;
	height: auto;
}

.inner-footer .footer-third {
	width: calc(21.666666667% - 20px);
	margin-right: 10px;
	float: left;
	height: 100%;
}

.inner-footer .footer-third:last-child {
	margin-right: 0;
	font-family: 'arial';
	color: whitesmoke;
}

.inner-footer .footer-third h1 {
	font-family: 'arial';
	font-size: 22px;
	color: whitesmoke;
	display: block;
	width: 100%;
	margin-bottom: 20px;
}

.inner-footer .footer-third a {
	font-family: 'arial';
	font-size: 18px;
	color: whitesmoke;
	display: block;
	font-weight: 200;
	width: 100%;
	padding-bottom: 5px;
}
.inner-footer .footer-third li {
	display: inline-block;
	padding: 0 5px;
	font-size: 20px;
}

.inner-footer .footer-third span {
	color: whitesmoke;
	font-family: 'arial';
	display: block;
	font-size: 16px;
	font-weight: 200;
	width: 100%;
	padding-top: 20px;
}
/* Media Query: Large Smart-phones */
@media screen and (max-width: 600px) {
	h1,
	#subtitle {
		font-size: 20px;
	}
	.image-container {
		margin: 10px;
	}
	.footer .inner-footer {
		width: 90%;
	}
	.inner-footer .logo-container,
	.inner-footer .footer-third {
		width: 100%;
		margin-bottom: 30px;
	}
}
